{% extends "base.html" %}
{% block head %}
    <title>Network Visualizer</title>
{% endblock %}

{% block content %}

<div class="hero-unit big-banner">
  <h1>NMC Network Visualizer</h1>
</div>

<div class="row">
    <div class="span12">
    
    <h1>Networks:</h1>
    
	{% for db in databases %}
	 <form action="visualize/{{ db }}">
	   <input class="btn btn-large btn-inverse" type="submit" value="{{ db }}">
	 </form>
	{% endfor %}	
	
	<br>
	
	
	<form action="new">
	   <input class="btn btn-large btn-inverse" type="submit" value="+ Add Network">
	 </form>
    </div>
</div>
<footer>
</footer>
{% endblock %}
