{% extends "base.html" %}
{% comment %}
    
Main page of the website.

{% endcomment %}

{% block head %}
    <title>NMC</title>
{% endblock %}

{% block content %}

   <div class="row">
    <div class="span12 ">
    <header>
        <h1>NMC</h1>
    </header>
	<form action="/network/new/" method="post">{% csrf_token %}
		{{ form.as_p }}
		<input class ="btn btn-inverse" type="submit" value="Submit" />
	</form></br>
	<a class = "btn btn-inverse" href="/network">Cancel</a>
	</div></div>

{% endblock %}
