{% extends "base.html" %}
{% comment %}

Main page of the website.

{% endcomment %}

{% block head %}
<link href="{{ STATIC_URL }}css/vis.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}lib/jquery.cookies.2.2.0.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}lib/OpenLayers.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}lib/paths.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}lib/vis.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$(".btn-slide").click(function(){
		$("#panel").slideToggle("slow");
		$(this).toggleClass("active"); return false;
	});	 
});
</script>

<title>NMC</title>
{% endblock %}

{% block body %}
<div id="panel">
  <div id="top_container" align="">

	<div id="network_panel">
	<table>
	<tr><td><b>Network</b></td></tr>
	<tr><td><button onclick="toggleMap()" value="Toggle map" class="css3button">Toggle Map</button></td>
		<td><input type="button" id="load_data" value="Load Data" disabled="true" onclick="load_data()" class="css3button">
		    <input type="button" id="animate"   value="Animate"   disabled="true" onclick="animate()"   class="css3button"></td></tr>
    <tr><td>Start</td>   <td><input type="text" id="data_start"    value="" onkeyup="check_load_data()"></td></tr>
    <tr><td>Interval</td><td><input type="text" id="data_interval" value="" onkeyup="check_load_data()"></td></tr>    
    <tr><td>End</td>     <td><input type="text" id="data_end"      value="" onkeyup="check_load_data()"></td></tr>
  	</table>
       <input type="radio"  id="selection_type_nodelink" name="selection_type" value="types" onclick="selection_type()" checked="true">Node/Link Types
       <input type="radio"  id="selection_type_busroute" name="selection_type" value="busroutes" onclick="selection_type()">Bus Routes
       <br/>
       <div id="busRouteSelect" style="visibility:hidden;">Bus Routes:<br> 
       <div id="busroutes" style="">
         {% for br in busroutes %}<div style="width:45px;height:20px;float:left;position:relative"><input type="checkbox" name="busroutes" value="{{ br }}" checked="yes" onclick=redraw() >{{ br }}</div>{% endfor %}
       </div>
       </div>
	</div>
  
	<div id="link_panel">
	  <b>Links</b>
       <table>
         <tr>
           <td>Offset</td>
           <td><input id="link_offset" type="text" value="0.0001" onkeypress="offsetLinks(event)"></td>
         </tr>
         <tr>
           <td>Color By</td>
           <td><select id='link_color' onchange="link_color_selection()"></select></td>
         </tr>
       </table>
       <p>Show Types:</p>
       {% for lt in linktypes %}<input type="checkbox" name="linktypes" value={{ lt }} checked="yes" onclick="redraw()">{{ lt }}<br>{% endfor %}
	</div>
	
	<div id="nodes_panel">
	  <b>Nodes</b>
      <table>
         <tr>
            <td>Color By</td>
            <td><select id='node_color' onchange="node_color_selection()"></select></td>
          </tr>
      </table>
      <p>Show Types:</p>
      {% for nt in nodetypes %}<input type="checkbox" name="nodetypes" value={{ nt }} checked="yes" onclick="redraw()">{{ nt }}<br>{% endfor %}
	</div>
  </div>
</div>
<p class="slide"><a href="#" class="btn-slide">Menu</a></p>


<div class="mapcntr">
<div id="map" class="smallmap"></div>
</div>
<script type="text/javascript">

var network_name = "{{ name }}";

var links = [
	{% for l in links %}
	{
		linkid: {{ l.lid }},
		type: {{ l.ltype }},
		source_id: {{ l.src }},
		destination_id: {{ l.dst }},
		path: [
		{% for x,y in l.path %}
			[{{ x }}, {{ y }}],
		{% endfor %} 
		], 
		attrs: {
		{% for k,v in l.attributes.items %}
			"{{ k }}": {{ v }},
		{% endfor %}
		},
	},
	{% endfor %}
];

var nodes = [
	{% for n in nodes %}
	{
		nodeid: {{ n.nid }},
		type: {{ n.ntype }},
		point: {{ n.point }},
		attrs: {
		{% for k,v in n.attributes.items %}
			"{{ k }}": {{ v }},
		{% endfor %}
		},
	},
	{% endfor %}
	];
	
var busroutes = {
	{% for k,v in busroutes.items %}
		"{{ k }}" : [ {{ v }} ],
	{% endfor %}
};
</script>
{% endblock %}