{% extends "base.html" %}

{% block head %}
<title>NMCharts</title>
{% endblock%}

{% block content %}
<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit big-banner">
    <h1>NMCharts</h1>
  </div>
  <div class="row">
    <div class="span4 pagination-centered">
      <h2>Route Travel Distance</h2>
      <div><a href="{% url "distanceinfo" %}"><img src="{{ STATIC_URL }}images/TurnMoveIcon.png" /></a></div>
    </div>
    <div class="span4 pagination-centered">
      <h2>Corridor Travel Times</h2>
      <div><a href="{% url "traveltimeinfo" %}"><img src="{{ STATIC_URL }}images/TravelTimeIcon.png" /></a></div>
    </div>
    <div class="span4 pagination-centered">
      <h2>Volume and Capacity</h2>
      <div><a href="{% url "volumeinfo" %}"><img src="{{ STATIC_URL }}images/CountsIcon.png" /></a></div>
    </div>
    <div class="span4 pagination-centered">
      <h2>Origin-Destination Time Comparison</h2>
      <div><a href="{% url "odtimesinfo" %}"><img src="{{ STATIC_URL }}images/CountsIcon.png" /></a></div>
    </div>
    <div class="span4 pagination-centered">
      <h2>Turning Movements</h2>
      <div><a href="{% url "turnmoveinfo" %}"><img src="{{ STATIC_URL }}images/TurnMoveIcon.png" /></a></div>
    </div>
  </div>
  <footer>
  </footer>
</div> <!-- /container -->
{% endblock %}
