button.awesome, .button.awesome {

	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.blue.awesome {
	background-color: #2daebf;
}

.red.awesome {
	background-color: #e33100;
}

.magenta.awesome {
	background-color: #a9014b;
}

.orange.awesome {
	background-color: #ff5c00;
}

.yellow.awesome {
	background-color: #ffb515;
}

div.mapcntr {
          
          
          clear: both;
          width: 100%;
          background-color:transparent;
}
div.smallmap {
          
          width: 100%;
          height: 100%;
           width: 100%;
          background-color:transparent;


#top_container{
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	color: #777;
}

#network_panel{
	float: left;
	width: 33%;
}

#link_panel{
	float: left;
	width: 33%;
	
}

#nodes_panel{
		float: left;
	    width: 33%;
}

